.home-wrap header {
  align-items: center;
  box-shadow: 0 1px 5px 0 $shadow-bottom;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px 10%;

  a {
    color: $header-text;
    text-decoration: none;

    &:hover,
    &:active {
      color: $header-hover;
    }
  }
}

.logo {
  display: flex;
  margin-right: auto;
  padding: 0;
}

#logo {
  color: $logo-color;
  font-size: 1.1111111111111112em; // 20px
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover {
    color: $header-hover;
  }
}

.social {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: flex-end;
  margin: 0;

  .svg-social {
    fill: $social-color;
    height: 25px;
    padding: 0 10px;
    stroke: none;
    stroke-width: 1;
    width: 25px;

    }

  a {
    padding: 0 10px;
  }
}

#svg-social {fill: $social-color; }

svg:hover #twitter {
  fill: $twitter-color;
}

svg:hover #dribbble {
  fill: $dribbble-color;
}

svg:hover #instagram {
  fill: $instagram-color;
}

svg:hover #linkedin {
  fill: $linkedin-color;
}
