.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 10% 1%;
  background-color: $bg-color;

  text-align: center;
}


.btn-contact {
  margin-top: em(30);
  margin-bottom: em(80);
  width: 210px;
	color: $body-text;
}

.btn-contact:hover {
	opacity: 0.5;
}
