.section-footer {
  background-color: $bg-color;
  padding: 4em 0;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.btn-contact {
  color: $body-text;
  margin-bottom: 4.444444444444445em; // 80px
  margin-top: 1.6666666666666667em; // 30px
  width: 11.666666666666666em; // 210px
}

.btn-contact:hover {
  opacity: .5;
}
