.works {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 40px;
  padding: 0;
  width: 100%;

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    width: 80%;
  }

  @media only screen
    and (min-width : 1600px) { // Desktop
    width: 60%;
  }

  @media only screen
    and (min-width : 2304px) { // 21" iMac 4K
    width: 50%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    width: 60%;
  }
}

// * Card * //

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.24);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// * Alzie * //

.section-alzie {
  align-items: center;
  background-color: $alzie-primary;
  background-image: url('/assets/img/ibeam/ibeam-card.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%, contain;
  display: flex;
  flex-direction: row;
  height: 30em;
  margin: 5% 0;
  padding: 2em;
  position: relative;
  text-align: center;
  width: auto;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    background-image: none;
    height: auto;
    justify-content: center;
    margin: 20px 20px 40px;
  }

  @media only screen
    and (min-width : 768px) { // iPad Air
    background-image: url('/assets/img/alzie/alzie-phone.png');
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 45%, contain;
    height: 15em;
    justify-content: flex-start;
    margin: 20px 20px 40px;
    width: auto;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    background-size: 35%, contain;
    height: 18em;
  }

  @media only screen
    and (min-width : 1200px) { // Browser Universal Laptop
    height: 25em;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    background-size: 32%, contain;
    height: 20em;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    height: 25em;
  }

  @media only screen
    and (min-width : 2304px) { // 21" iMac 4K
    height: 30em;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    height: 40em;
  }
}

.section-alzie-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10%;
  text-align: left;

  @media only screen
    and (min-width : 320px) {
    align-items: center;
    padding: 0;
    text-align: center;
  }

  @media only screen
    and (min-width : 768px) {
    align-items: flex-start;
    padding: 0 0 0 5%;
    text-align: left;
    width: 50%;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    width: 30%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    width: 30%;
  }

  .project-desc {
    color: $light-text;
  }
}

.btn-alzie {
  color: $btn-light;
  justify-content: flex-start;
  margin-top: 1.6666666666666667em; // 30px
  padding: 0;

  @media only screen
    and (min-width : 320px) {
    justify-content: center;
  }

  @media only screen
    and (min-width : 768px) {
    justify-content: flex-start;
  }
}

.btn-alzie:hover {
  opacity: .5;
}

.alzie-logo {

  @media only screen
    and (min-width : 320px) {
    width: 25%;
  }

  @media only screen
    and (min-width : 768px) {
    width: 25%;
  }

  @media only screen
    and (min-width : 1024px) {
    width: 30%;
  }
}

// * Ibeam * //

.section-ibeam {
  align-items: center;
  background-color: $ibeam-bg;
  background-image: url('/assets/img/ibeam/ibeam-card.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%, contain;
  display: flex;
  flex-direction: row;
  height: 30em;
  margin: 5% 0;
  padding: 2em;
  position: relative;
  text-align: center;
  width: auto;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    background-image: none;
    height: auto;
    justify-content: center;
    margin: 20px 20px 40px;
  }

  @media only screen
    and (min-width : 768px) { // iPad Air
    background-image: url('/assets/img/ibeam/ibeam-card.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%, contain;
    height: 15em;
    justify-content: flex-start;
    margin: 20px;
    width: auto;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    height: 18em;
  }

  @media only screen
    and (min-width : 1200px) { // Browser Universal Laptop
    height: 25em;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    height: 25em;
  }

  @media only screen
    and (min-width : 2304px) { // 21" iMac 4K
    height: 30em;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    height: 40em;
  }
}

.section-ibeam-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10%;
  text-align: left;

  @media only screen
    and (min-width : 320px) {
    align-items: center;
    padding: 0;
    text-align: center;
  }

  @media only screen
    and (min-width : 768px) {
    align-items: flex-start;
    padding: 0 0 0 5%;
    text-align: left;
    width: 50%;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    width: 40%;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    width: auto;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    width: 30%;
  }

  .project-desc {
    color: $body-text;
  }
}

.btn-ibeam {
  color: $btn-dark;
  justify-content: flex-start;
  margin-top: 1.6666666666666667em; // 30px
  padding: 0;

  @media only screen
    and (min-width : 320px) {
    justify-content: center;
  }

  @media only screen
    and (min-width : 768px) {
    justify-content: flex-start;
  }
}

.btn-ibeam:hover {
  opacity: .5;
}

.ibeam-logo {
  width: 40%;

  @media only screen
    and (min-width : 320px) {
    width: 40%;
  }

  @media only screen
    and (min-width : 768px) {
    width: 30%
  }

  @media only screen
    and (min-width : 1600px) {
    width: 45%;
  }
}

// * Open Source * //

.section-opensource {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    display: flex;
  }
 }

.section-codebuddies {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 10px 20px 0;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;

    .cb-logo {
      width: 60%;
    }
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    padding: 8% 5%;

    .cb-logo {
      width: 60%;
    }
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    margin: 20px;
    padding: 8%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    margin: 20px;
    padding: 5% 12%;
  }

  .project-desc {
    color: $body-text;
  }

  .btn-codebuddies {
    color: $btn-dark;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-codebuddies:hover {
    opacity: .5;
  }
}

.section-odin {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 20px 10px;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;

    .cb-logo {
      width: 60%;
    }
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    padding: 8% 5%;

    .cb-logo {
      width: 60%;
    }
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    margin: 20px;
    padding: 8%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    margin: 20px;
    padding: 5% 12%;
  }

  .project-desc {
    color: $body-text;
  }

  .btn-odin {
    color: $btn-dark;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-odin:hover {
    opacity: .5;
  }
}
