$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 1.5;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8em 0;
  position: relative;
  text-align: center;
  z-index: 9;

  h2,
   p {
    color: $light-text;
    margin: 0;
  }

  @media only screen
    and (min-width : 320px) {
    padding: 8em 2em;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 8em 2em;
  }
}

.parallax-background {
  background: linear-gradient(to left, rgba(190, 147, 197, .7) , rgba(123, 198, 204, .7)), url('/assets/img/home-experiments-bg.png');
  background-color: $bg-light;
  background-position: top;
  background-repeat: no-repeat;
  background-size: inherit;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;

  @media only screen
    and (min-width : 320px) {
    background-size: 100%;
  }

  @media only screen
    and (min-width : 768) {
  }
}


.btn-experiments {
  color: $btn-light;
  margin-top: 1.6666666666666667em; // 30px
}

.btn-experiments:hover {
  opacity: .5;
}
