.works {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    width: 80%;
  }
}

// * Alzie * //

.section-alzie {
  align-items: center;
  background-color: $bg-light;
  display: block; //flex
  flex-direction: row;
  height: auto; //alt 22.222em;
  justify-content: center;
  margin: 5% 0;
  padding: 2em;
  position: relative;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    width: auto;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px 20px 40px;
    width: auto;
  }

  .section-alzie-text {
    padding: 0 0 0 10%;
    text-align: left;

    .project-title,
    .project-desc {
      color: $body-text;
    }

    .btn-alzie {
      color: $btn-dark;
      justify-content: flex-start;
      margin-top: 1.6666666666666667em; // 30px
    }

    .btn-alzie:hover {
      opacity: .5;
    }
  }
}

.section-alzie-img {
  padding: 0 10% 0 0;
  width: 50%;
}

.section-alzie-img > img {
  margin: 0;
  max-height: 22.222em;
  width: auto;
}

// * Ibeam * //

.section-ibeam {
  align-items: center;
  background-color: $bg-light;
  display: block; //flex
  flex-direction: row;
  height: auto; //alt 22.222em;
  justify-content: center;
  margin: 5% 0;
  padding: 2em;
  position: relative;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    width: auto;
  }

  .section-ibeam-text {
    padding: 0 0 0 10%;
    text-align: left;

    .project-title,
    .project-desc {
      color: $body-text;
    }

    .btn-ibeam {
      color: $btn-dark;
      justify-content: flex-start;
      margin-top: 1.6666666666666667em; // 30px
    }

    .btn-ibeam:hover {
      opacity: .5;
    }
  }
}

.section-ibeam-img {
  padding: 0 10% 0 0;
  width: 50%;
}

.section-ibeam-img > img {
  margin: 0;
  max-height: 22.222em;
  width: auto;
}

// * Open Source * //

.section-opensource {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    display: flex;
  }
 }

.section-codebuddies {
  align-items: center;
  background-color: $cb-main;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 10px 20px 0;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 8% 10%;
    margin: 20px;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px 20px 40px;
    padding: 8% 6%;
    width: auto;
  }

  .project-title,
  .project-desc {
    color: $light-text;
  }

  .btn-codebuddies {
    color: $btn-light;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-codebuddies:hover {
    opacity: .5;
  }
}

.section-odin {
  align-items: center;
  background-color: $odin-bg;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 20px 10px;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 8% 10%;
    margin: 20px;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px 20px 40px;
    padding: 8% 6%;
    width: auto;
  }

  .project-title,
  .project-desc {
    color: $body-text;
  }

  .btn-odin {
    color: $btn-dark;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-odin:hover {
    opacity: .5;
  }
}
