.works {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 40px;
  padding: 0;
  width: 100%;

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    width: 80%;
  }

  @media only screen
    and (min-width : 1600px) { // Desktop
    width: 60%;
  }

  @media only screen
    and (min-width : 2304px) { // 21" iMac 4K
    width: 50%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    width: 60%;
  }
}

// * Card * //

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.24);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// * Alzie * //

.section-alzie {
  align-items: center;
  background-color: $bg-light;
  display: block;
  flex-direction: row;
  height: auto; //alt 22.222em;
  margin: 5% 0;
  padding: 2em;
  text-align: left;
  width: auto;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
//    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
  //  width: auto;
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px 20px 40px;
    width: auto;
  }

  .section-alzie-text {
    padding: 0 0 0 10%;
    text-align: left;

    .project-desc {
      color: $body-text;
    }

    .btn-alzie {
      color: $btn-dark;
      justify-content: flex-start;
      margin-top: 1.6666666666666667em; // 30px
      padding: 0;
    }

    .btn-alzie:hover {
      opacity: .5;
    }
  }
}



// * Ibeam * //

.section-ibeam {
  align-items: center;
  background-color: $ibeam-bg;
  background-image: url('/assets/img/ibeam/ibeam-card.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%, contain;
  display: flex;
  flex-direction: row;
  height: 30em;
  margin: 5% 0;
  padding: 2em;
  position: relative;
  text-align: center;
  width: auto;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;
    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    width: auto;
  }

  .section-ibeam-text {
    padding: 0 0 0 10%;
    text-align: left;

    .project-desc {
      color: $body-text;
    }

    .btn-ibeam {
      color: $btn-dark;
      justify-content: flex-start;
      margin-top: 1.6666666666666667em; // 30px
      padding: 0;
    }

    .btn-ibeam:hover {
      opacity: .5;
    }
  }
}

.ibeam-logo {
  padding: 0 50% 0 0;
}

// * Open Source * //

.section-opensource {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  p {
    margin-top: 1.6666666666666667em; // 30px
  }

  @media only screen
    and (min-width : 320px) {
    display: block;
  }

  @media only screen
    and (min-width : 768px) {
    display: flex;
  }
 }

.section-codebuddies {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 10px 20px 0;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;

    .cb-logo {
      width: 70%;
    }
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    padding: 8% 5%;

    .cb-logo {
      width: 70%;
    }
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    margin: 20px;
    padding: 8%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    margin: 20px;
    padding: 5% 12%;
  }

  .project-desc {
    color: $body-text;
  }

  .btn-codebuddies {
    color: $btn-dark;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-codebuddies:hover {
    opacity: .5;
  }
}

.section-odin {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 20px 10px;
  padding: 10% 5%;
  text-align: center;
  width: auto;

  @media only screen
    and (min-width : 320px) {
    margin: 20px 20px 40px;

    .cb-logo {
      width: 70%;
    }
  }

  @media only screen
    and (min-width : 768px) {
    margin: 20px;
    padding: 8% 5%;

    .cb-logo {
      width: 70%;
    }
  }

  @media only screen
    and (min-width : 1024px) { //iPad mini 4 and iPad Air 2
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1600px) { // 13" Macbook Retina
    margin: 20px;
    padding: 8% 5%;
  }

  @media only screen
    and (min-width : 1800px) { // 15" Macbook Retina
    margin: 20px;
    padding: 8%;
  }

  @media only screen
    and (min-width : 2880px) { // 27" iMac 4K
    margin: 20px;
    padding: 5% 12%;
  }

  .project-desc {
    color: $body-text;
  }

  .btn-odin {
    color: $btn-dark;
    margin-top: 1.6666666666666667em; // 30px
  }

  .btn-odin:hover {
    opacity: .5;
  }
}
