.works {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  // * Media Queries * //
}

.section-alzie {
  background-color: $alzie-primary;
  display: flex;
  flex-direction: row;

  .project-title,
  .project-desc {
    color: $light-text;
  }
}

.section-ibeam {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;

  .project-title,
  .project-desc {
    color: $body-text;
  }

  .category {
    color: $body-text;
    font-weight: 700;
    margin-top: em(30);
    text-transform: uppercase;
  }
}

.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 8% 15%;
  text-align: left;
  width: 100%;
}

.img-alzie {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 8% 10% 8% 0;
  width: 100%;

  img {
    width: 90%;
  }
}

.img-ibeam {
  display: block;
  padding: 0 10% 8% 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.section-opensource {
  align-items: center;
  justify-content: center;
  text-align: center;

  .section-codebuddies {
    align-items: center;
    background-color: $cb-main;
    display: flex;
    flex-direction: column;
    padding: 8% 10%;

    .project-title,
    .project-desc {
      color: $light-text;
    }

    .btn-light {
      justify-content: center;
    }
  }

  .section-odin {
    align-items: center;
    background-color: $odin-bg;
    display: flex;
    flex-direction: column;
    padding: 8% 10%;

    .project-title,
    .project-desc {
      color: $body-text;
    }

    .btn-dark {
      justify-content: center;
    }
  }
}

// * Buttons * //

.btn-light {
  color: $btn-light;
  justify-content: flex-start;
  margin-top: 1.6666666666666667em; // 30px
  width: 210px;
}

.btn-light:hover {
  opacity: .5;
}

.btn-dark {
  color: $btn-dark;
  justify-content: flex-start;
  margin-top: 1.6666666666666667em; // 30px
  width: 210px;
}

.btn-dark:hover {
  opacity: .5;
}
