.section-about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.intro {
  text-align: center;
  font-weight: 700;
  color: $body-text;

  .sub-intro {
    font-weight: 100;
  }

  /* Media Queries */

}
