// Typography
h1 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: em(30);
}

h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: em(40);
}


a {
  text-decoration: none;
}

// Links

// Selection colors

// Basic Styles

html, body {
  min-height: 100vh;
  background: $bg-color;
}

body {
  font-size: em(14);
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: $body-text;
}
