// Typography
h1, h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// Links

// Selection colors

// Basic Styles

html, body {
  min-height: 100vh;
  background: $bg-color;
}

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: $body-text;
}
