// Typography
h1 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: em(30);
}

h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: em(40);
  text-transform: uppercase;
  color: $logo-color;
}

h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: em(16);
  text-transform: uppercase;
  color: $logo-color;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
}

// Links

// Selection colors

// Basic Styles

html, body {
  min-height: 100vh;
  background: $bg-color;
}

body {
  font-size: em(16);
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: $body-text;
}
