// Logo
$logo-color: #000000;

// Icons
$social-color: #757b81;
$twitter-color: #55acee;
$dribbble-color: #ea4c89;
$instagram-color: #1b5988;
$snapchat-color: #fffc00;
$linkedin-color: #0077B5;

// Typography
$base-font-size: 1em;
$header-text: #757b81;
$header-hover: #d3d3d3;
$body-text: #5b5b5b;

// Body
$bg-color: #ffffff;
$bg-light: #f2f2f2;

// Buttons
$contact-color: #ea4c89;
$neutral-color: #e5e5e5;

// Alzie Colors
$alzie-primary: #6954BB;
$alzie-accent: #4f3f8d;

// Breakpoints
// Small screen max-width 640px
$small: new-breakpoint(max-width 40em, 12);
// Medium screen min-width 641px
$medium: new-breakpoint(min-width 40.063em, 12);
// Medium screen min-width 641px and max-width 1024px
$medium-2: new-breakpoint(min-width 40.063em max-width 64em, 12);
// Large screen min-width 1025px
$large: new-breakpoint(min-width 64.063em, 12);
// Large screen min-width 1025px and max-width 1440px
$large-2: new-breakpoint(min-width 64.063em max-width 90em, 12);
// Extra large screens  min-width 1441px
$xlarge: new-breakpoint(min-width 90.063em, 12);
// Extra large screens  min-width 1441px and max-width 1920px
$xlarge-2: new-breakpoint(min-width 90.063em max-width 120em, 12);
// Extra Extra large screens min-width 1921px
$xlarge-3: new-breakpoint(min-width 120.063em, 12);
