// Logo
$logo-color: #000000;

// Icons
$social-color: #757b81;
$twitter-color: #55acee;
$dribbble-color: #ea4c89;
$instagram-color: #1b5988;
$linkedin-color: #0077B5;

// Typography
$header-text: #757b81;
$header-hover: #d3d3d3;
$body-text: #757b81;

// Body
$bg-color: #ffffff;
