<main class="works">

    <section class="section-alzie">

      <div class="project-detail">
        <div>
          <img class="project-logo" src="/assets/img/logo-Alzie.svg" width="80em" height="80em" alt="Alzie Alzheimer's Caregiver Companion iOS App">
        </div>
          <h2 class="project-title">Alzie</h2>
          <p class="project-desc">An Alzheimer's Caregiver iOS app that aims to help you organize caregiving duties.</p>
          <a class="btn btn-light" href="{{ site.baseurl }}/alzie">View project</a>
      </div>

      <div class="img-alzie">
        <img src="/assets/img/home-alzie.png">
      </div>

    </section> <!-- section-alzie end -->


    <section class="section-ibeam">

      <div class="project-detail">
        <h2 class="project-title">Ibeam</h2>
        <p class="project-desc">Cellular tower and EV charging system.</p>
        <a class="btn btn-dark" href="{{ site.baseurl }}/ibeam">View project</a>
      </div>

      <div class="img-ibeam">
        <img src="/assets/img/teaser-ibeam-v5-minified.png">
      </div>

    </section> <!-- section-ibeam end -->

    <section class="flex-grid-halves section-opensource">
      <div class="col section-codebuddies">
        <h2 class="project-title">CodeBuddies</h2>
        <p class="project-desc">The most friendly online platform for community-organized hangouts for learning to code.</p>
        <a class="btn btn-light" href="{{ site.baseurl }}/codebuddies">Coming Soon</a>
      </div>

      <div class="col section-odin">
        <h2 class="project-title">The Odin Project</h2>
        <p class="project-desc">A finely curated web development curriculum based from the best free online resources.</p>
        <a class="btn btn-dark" href="{{ site.baseurl }}/theodinproject">Coming Soon</a>
      </div>
    </section> <!-- flex-grid end -->

</main> <!-- works end -->
