<main class="works">

    <section class="section-alzie card">
      <div class="section-alzie-text">
        <h2 class="project-title">Alzie</h2>
        <p class="project-desc">An Alzheimer's Caregiver iOS app that aims to help you organize caregiving duties.</p>
        <a class="btn btn-alzie" href="{{ site.baseurl }}/alzie">View project</a>
      </div>
<!--      <div class="section-alzie-img">
          <img src="/assets/img/home-alzie.png">
      </div> -->
    </section> <!-- section-alzie end -->

    <section class="section-ibeam card">
      <div class="section-ibeam-text">
        <h2 class="project-title">iBeam</h2>
        <p class="project-desc">Cellular tower and EV charging system.</p>
        <a class="btn btn-ibeam" href="{{ site.baseurl }}/ibeam">View project</a>
      </div>
<!--      <div class="section-ibeam-img">
        <img clas="ibeam-img" src="/assets/img/teaser-ibeam-v5-minified.png">
      </div> -->
    </section> <!-- section-ibeam end -->

    <section class="section-opensource">
      <section class="section-codebuddies card">
        <img class="cb-logo" src="assets/img/codebuddies/cb-logo.svg" alt="CodeBuddies Open Source Project">
        <p class="project-desc">The most friendly online platform for community-organized hangouts for learning to code.</p>
        <a class="btn btn-codebuddies" href="{{ site.baseurl }}/codebuddies">Coming Soon</a>
      </section>

      <section class="section-odin card">
        <p class="project-desc">A finely curated web development curriculum based from the best free online resources.</p>
        <a class="btn btn-odin" href="{{ site.baseurl }}/theodinproject">Coming Soon</a>
      </section>
    </section> <!-- section-opensource end -->


</main> <!-- works end -->
