<div class="works">
  <h3>Select Works</h3>

  <div class="teaser">

    <div class="teaser-detail teaser-alzie">
      <div class="project-logo">
        <img src="/assets/img/logo-test.png" alt="Alzie Alzheimer's Caregiver Companion iOS App">
      </div>
      <div class="project-text">
        <h2>Alzie</h2>
        <p>Alzheimer's Caregiver Companion</p>
        <p class="category">UX/UI Design</p>
      </div>
    </div>

    <div class="teaser-detail teaser-ibeam">
      <h2>IBeam</h2>
      <p>Cellular Towers Redefined</p>
      <p class="category">UX/Industrial Design</p>
    </div>

  </div>

</div>
