<div class="works">

  <div class="teaser">

    <div id="teaser-layout-alzie">

      <div class="teaser-detail">
        <div>
          <img class="project-logo" src="/assets/img/logo-Alzie.svg" width="80em" height="80em" alt="Alzie Alzheimer's Caregiver Companion iOS App">
        </div>
        <div class="project-text">
          <h2>Alzie</h2>
          <p>Alzheimer's Caregiver Companion</p>
          <h3 class="category">UX/UI Design</h3>
          <a class="btn btn-alzie" href="{{ site.baseurl }}/alzie">View project</a>
        </div>
      </div> <!-- teaser-detail teaser-alzie end -->

      <div class="teaser-img-alzie">
        <img src="/assets/img/teaser-Alzie-minified.png">
      </div>

    </div> <!-- teaser-layout-alzie end -->


    <div id="teaser-layout-ibeam">

      <div class="teaser-detail">
        <div class="project-text">
          <h2>Ibeam</h2>
          <p>Cellular Towers Redefined</p>
          <h3 class="category">UX/Industrial Design</h3>
          <a class="btn btn-ibeam" href="{{ site.baseurl }}/ibeam">View project</a>
        </div>
      </div> <!-- teaser-detail teaser-ibeam end -->

      <div class="teaser-img-ibeam">
        <img src="/assets/img/teaser-ibeam-v5-minified.png">
      </div>

    </div> <!-- teaser-layout-ibeam end -->

  </div> <!-- teaser end -->

</div> <!-- works end -->
