<div class="works">

  <div class="teaser">

    <div id="teaser-layout-alzie">

      <div class="teaser-detail">
        <div>
          <img class="project-logo" src="/assets/img/logo-Alzie.svg" width="80em" height="80em" alt="Alzie Alzheimer's Caregiver Companion iOS App">
        </div>
          <h2>Alzie</h2>
          <p>Alzheimer's Caregiver Companion</p>
          <a class="btn btn-alzie" href="{{ site.baseurl }}/alzie">View project</a>
      </div>

      <div class="teaser-img-alzie">
        <img src="/assets/img/teaser-alzie.png">
      </div>

    </div> <!-- teaser-layout-alzie end -->


    <div id="teaser-layout-ibeam">

      <div class="teaser-detail">
        <h2>Ibeam</h2>
        <p>Cellular Towers Redefined</p>
        <a class="btn btn-ibeam" href="{{ site.baseurl }}/ibeam">View project</a>
      </div>

      <div class="teaser-img-ibeam">
        <img src="/assets/img/teaser-ibeam-v5-minified.png">
      </div>

    </div> <!-- teaser-layout-ibeam end -->

    <div id="teaser-opensource">

      <div class="teaser-codebuddies">
        <h2>CodeBuddies</h2>
        <p>Scheduling Platform for Studying Code</p>
      </div>

      <div class="teaser-odin">
        <h2>The Odin Project</h2>
        <p>Free Web Design Learning</p>
      </div>

    </div> <!-- teaser-opensource end -->

  </div> <!-- teaser end -->


</div> <!-- works end -->
