@import "0-tools/normalize";
@import '0-tools/bourbon/bourbon';
@import "0-tools/neat/neat";
@import "0-tools/fonts";

@import "1-base/vars";
@import "1-base/base";
@import "1-base/buttons";
@import "1-base/icons";

/*
@import "2-modules/example";
 */

@import "3-sections/header";
@import "3-sections/home-about";
@import "3-sections/home-works";
@import "3-sections/home-experiments";
@import "3-sections/home-footer";

@import "4-layouts/home";
