.home-wrap header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 10%;

  a {
    color: $header-text;
    text-decoration: none;

    &:hover, &:active {
      color: $header-hover;
    }
  }
}

.logo {
  display: flex;
  margin-right: auto;
  padding: 0;
  color: black;
}

#logo {
  color: $logo-color;
  text-transform: uppercase;
  font-size: em(20);
  font-weight: 700;
  letter-spacing: 2px;

  &:hover {
    color: $header-hover;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  align-items: center;

    .svg-social {
      padding: 0;
      stroke: none;
      stroke-width: 1;
      fill: $social-color;
    }

    a {
      padding: 0 10px;
    }
}

#svg-twitter {
  width: 22px;
  height: 22px;
}

a svg:hover #twitter-logo {
  fill: $twitter-color;
}

#svg-dribbble {
  width: 19px;
  height: 19px;
}

a svg:hover #dribbble-logo {
  fill: $dribbble-color;
}

#svg-instagram {
  width: 23px;
  height: 23px;
}

a svg:hover #instagram-logo {
  fill: $instagram-color;
}

#svg-linkedin {
  width: 23px;
  height: 23px;
}

a svg:hover #linkedin-logo {
  fill: $linkedin-color;
}
