.works {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;

  /* Media Queries */

  /* SMALL */
  @include media($small) {
  //  width: 70%;

  }

  /* MEDIUM */
  @include media($medium) {
  //  width: 70%;
  }

  /* MEDIUM-2 */
  @include media($medium-2) {
  //  width: 70%;
  }

  /* LARGE */
  @include media($large) {
  //  width: 60%;
  }

  /* LARGE-2 */
  @include media($large-2) {
  //  width: 60%;

  }

  /* XLARGE */
  @include media($xlarge) {
  //  width: 60%;
  }

  /* XLARGE-3 */
  @include media($xlarge-3) {
  //  width: 50%;
  }
}

.teaser {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#teaser-layout-alzie {
  display: flex;
  flex-direction: row;
  background-color: $alzie-primary;


    h2, p {
      color: white;
    }

}

#teaser-layout-ibeam {
  display: flex;
  flex-direction: row;
  background-color: white;


    h2, p {
      color: $body-text;
    }

    .category {
      text-transform: uppercase;
      font-weight: 700;
      margin-top: em(30);
      color: $body-text;
    }
}

.teaser-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 8% 0 8% 15%;
  width: 100%;
  text-align: left;
}

.teaser-img-alzie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 8% 10% 8% 0;

    img {
    width: 90%;
    }
}

.teaser-img-ibeam {
  display: block;
  width: 100%;
  padding: 0 10% 8% 0;

    img {
    width: 100%;
    }
}

#teaser-opensource {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 100%;
  text-align: center;

  .teaser-codebuddies {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 8%;
    background-color: $cb-main;

    h2, p {
      color: white;
    }

    .btn-light {
    justify-content: center;
    }
  }

  .teaser-odin {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 8%;
    background-color: $odin-bg;

    h2, p {
      color: $body-text;
    }

    .btn-dark {
    justify-content: center;
    }
  }

}

/* Buttons */

.btn-light {
  margin-top: em(30);
  width: 210px;
  justify-content: flex-start;
	color: white;
}

.btn-light:hover {
	opacity: 0.5;
}

.btn-dark {
  margin-top: em(30);
  width: 210px;
  justify-content: flex-start;
	color: $body-text;
}

.btn-dark:hover {
	opacity: 0.5;
}
