.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: em(1200);
  margin: 0 10%;

  /* Media Queries */

  @include media($small) {
    width: 70%
  }

  @include media($medium) {
    width: 70%;
  }

  @include media($medium-2) {
    width: 70%;
  }

  @include media($large) {
    width: 60%;
  }

  @include media($large-2) {
    width: 60%;
  }

  @include media($xlarge) {
    width: 60%;
  }

  @include media($xlarge-3) {
    width: 50%;
  }
}

.teaser {
  flex-direction: row;
  margin-top: 4em;
  border: none;
  width: 100%;

  .teaser-alzie {
    background-color: white;
    height: 400px;
  }

  .teaser-ibeam {
    background-color: white;
    height: 400px;
  }
}

.teaser-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 5% 0;
  padding: 5%;
  text-align: left;

  cursor: pointer;
  transition: all 100ms ease-in-out;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  &:active {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  .project-text {
    flex-direction: column;
  }

  h2 {
    color: $body-text;
  }

  p {
    margin: 0;
    color: $body-text;
  }

  .category {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: em(30);
  }
}
