.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;

  /* Media Queries */

  /* SMALL */
  @include media($small) {
  //  width: 70%;

  }

  /* MEDIUM */
  @include media($medium) {
  //  width: 70%;
  }

  /* MEDIUM-2 */
  @include media($medium-2) {
  //  width: 70%;
  }

  /* LARGE */
  @include media($large) {
  //  width: 60%;
  }

  /* LARGE-2 */
  @include media($large-2) {
  //  width: 60%;

  }

  /* XLARGE */
  @include media($xlarge) {
  //  width: 60%;
  }

  /* XLARGE-3 */
  @include media($xlarge-3) {
  //  width: 50%;
  }
}

.teaser {
  flex-direction: row;
  width: 100%;
}

#teaser-layout-alzie {
  display: flex;
  flex-direction: row;
  background-color: $alzie-primary;


    h2 {
      color: white;
    }

    p {
      margin: 0;
      color: white;
    }

    .category {
      text-transform: uppercase;
      font-weight: 700;
      margin-top: em(30);
      color: white;
    }
}

#teaser-layout-ibeam {
  display: flex;
  flex-direction: row;
  background-color: white;


    h2 {
      color: $body-text;
    }

    p {
      margin: 0;
      color: $body-text;
    }

    .category {
      text-transform: uppercase;
      font-weight: 700;
      margin-top: em(30);
      color: $body-text;
    }
}

.teaser-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 5% 0 5% 15%;
  width: 100%;
  text-align: left;

  .project-text {
    flex-direction: column;
  }
}

.teaser-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 5% 15% 5% 0;

    img {
    width: 80%;
    }
}

/* Buttons */

.btn-alzie {
  margin-top: em(30);
  padding: 10px;
  width: 210px;
	color: white;
	transition: none;
  border: 3px solid white;
}

.btn-alzie:active {
	top: 2px;
}

.btn-alzie:hover {
	background: white;
	color: $alzie-primary;
}


.btn-ibeam {
  margin-top: em(30);
  padding: 10px;
  width: 210px;
	color: $body-text;
	transition: none;
  border: 3px solid $body-text;
}

.btn-ibeam:active {
	top: 2px;
}

.btn-ibeam:hover {
	background: $body-text;
	color: white;
}
