.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  background-color: $bg-color;
}


.btn-contact {
	color: #fff;
	background: #226fbe;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

  border: 4px solid #226fbe;
  margin-top: 2em;
}

.btn-contact:active {
	top: 2px;
}

.btn-contact:hover {
	background: transparent;
	color: #226fbe;
}
