.section-about {
  margin: 0;
  padding: 80px 10%;
  background-color: $bg-light;
}

.intro {
  @include fill-parent;
  width: 60%;
  text-align: left;
  font-weight: 700;
  color: $body-text;
}

.sub-intro {
  font-weight: 100;
}
