.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  @include background($bg-light);
}

.btn-contact {
	color: #fff;
	background: #226fbe;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

  border: 4px solid #226fbe;
}

.btn-contact:active {
	top: 2px;
}

.btn-contact:hover {
	background: transparent;
	color: #226fbe;
}
