$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 1.5;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;

  padding: 0 10%;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("/assets/img/elements@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: inherit;
  background-color: $bg-light;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.btn-exp {
  margin-top: em(30);
  padding: 10px;
  width: 210px;
	color: $body-text;
	transition: none;
  border: 3px solid $body-text;
}

.btn-exp:active {
	top: 2px;
}

.btn-exp:hover {
	background: $body-text;
	color: white;
}
