.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 0;
  width: 100%;
}

.greeting {
  color: $body-text;
  font-weight: 700;
  text-align: center;
}
